
.mainContainer {
	display: flex;
	flex-flow: row nowrap;
	margin: auto;
	padding: 0.5rem;
}

.linkInputContainer {
	flex: 1;

	display: flex;
	margin: 0 0.3rem;
	align-items: center;
}

.uploadIcon {
    width: 32px;
    height: 32px;
}