.templateTable {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }

.templateTable .templateWidget {
  text-align: center; }
  .templateTable .templateWidget img {
    border: 5px solid transparent; }

.templateTableHeader {
  text-align: center;
  height: 2.8rem;
  background: midnightblue; }
  .templateTableHeader h1 {
    font-size: 1.5rem;
    margin: auto; }
