
.templateWidget img {
	opacity: 1;
	color: black;
}

.templateWidget {
	color: black;
	background-color: white;
	padding: 0 auto;
}

.templateWidget img {
	max-width: 100%;
}

.templateWidget.selected {
	background-color: #c460dc;
}

.templateWidget.selected img {
	opacity: 0.8;
}

