@import '../../../theming.scss';

.OverviewScreen {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  h1, h2 {
    font-size: 2rem;
    margin: auto;
  }


  .overviewBody {
    display: flex;
    flex-flow: row wrap;

    flex: 1;
    &.gameContainer {
      flex: 2;
    }

    > * {
      flex: 1;
    }

  }

  

  #embed-html {
    background: $yellow100;
    width: 100%;
    height: 100%;
  }

}

