@import '../../../theming.scss';

.OverviewScreen {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;

  h1, h2 {
    font-size: 2rem;
    margin: auto;
  }


  .overviewBody {
    display: flex;
    flex-flow: row wrap;

    flex: 1;
    &.gameContainer {
      flex: 2;
    }

    > * {
      flex: 1;
    }

  }
}

