@import '../../vars.scss';

.mainContainer {
    padding: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
}

.puzzleCardContainer {
    display: flex;

    // Tablet/Desktop
    max-width: 18rem;
    margin: 0.5rem;
    flex: 1;

    > a {
        width: 100%;
    }
}

.puzzleCardContent {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 4rem;
    
    border: 2px dotted $purple500;
    border-radius: 30px;

    .plusIcon {
        padding-right: 1rem;
        font-size: 2rem;
    }
    .description {
        flex: 1;
    }
}