

.mainContainer {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	margin: auto;

	img {
		max-height: 100%;
		max-width: 100%;
		box-sizing: content-box;
	}
}