

.mainContainer {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
	position: relative;

	img {
		min-width: 3rem;
		min-height: 3rem;

		height: auto;
		max-height: 100%;
		max-width: 100%;
		box-sizing: content-box;
	}
}