@import '../../index.scss';

.launcherContainer {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.launcherContent {
	flex: 1 1 auto;
}

.launcherControls {
	padding: 0.2rem 0;
	display: flex;
	flex-flow: column nowrap;
}

.launcherButton {
	background: $theme_xb2;
	color: $theme_f2;
	border: solid 1px $theme_f0;
}