@import '../../theming.scss';

.launcherContainer {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.launcherContent {
	flex: 1 1 auto;
}

.launcherControls {
	padding: 0.2rem 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.launcherButton {
	background: $theme_xb2;
	color: $theme_f2;
	border: solid 1px $theme_f0;
	padding: 0 1rem;
	line-height: 3rem;

	border-radius: 20px;

	&:hover {
		animation: launcherButtonPulse 1s ease-in 0.5s infinite alternate;
	}
}

@keyframes launcherButtonPulse {
	from {
		background: $theme_xb2;
	}
	to {
		background: $theme_xb3;
	}
}