@import '../../vars'; 

.mainContainer {
	display: flex;
    flex-flow: column nowrap;
    max-width: 90rem;
	flex: 1;
	
	width: 100%;
  	min-height: 100%;
	background: $purple200;

	h1, h2 {
		text-align: center;
		font-size: 1.5rem;
		margin: auto;
	}
}

.contentContainer {
	flex: 1 1 100%;
	display: flex;
}

.backgroundTable {
	width: 100%;
	padding: 0 1rem 1rem;
	background: $purple200;
}

.cardContainer {
	width: 100%;
	@media(min-width: 768px) {
		width: 30rem;
	}
	margin: auto auto 3px;
}