<?xml version="1.0" ?>
    <web-app>
    <!--
        We must specify all possible routes here because only
        the root of the app is mapped to index.html by default
    -->
    <servlet>
        <servlet-name>root-page</servlet-name>
        <jsp-file>/index.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>root-page</servlet-name>
        <url-pattern>/templates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root-page</servlet-name>
        <url-pattern>/backgrounds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root-page</servlet-name>
        <url-pattern>/puzzle/*</url-pattern>
    </servlet-mapping>
</web-app>