@import '../../vars';

.mainContainer {
    // @media (min-width: $breakpoint-width-mobile) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;

        background: rgba($black, 0.5);

        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
    // }
}

.innerContainer {
    // position: relative;
    max-width: 70rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

.closeButton {
    cursor: pointer;
    // width: 0;
    top: 0;
    position: absolute;
    margin-top: 0;
    transform: translate(-50%);
}

@media (min-width: $breakpoint-width-mobile) {
    .closeButton {
        transform: translate(50%);
    }
}