@import '../../vars';

.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    background: rgba($black, 0.5);

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.innerContainer {
    margin-top: 1.5rem;
    max-width: 70rem;
    overflow-y: auto;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    background: $grey100;
    border-radius: 30px;
    padding: 0.25rem;
    transform: translate(-50%, -50%);
    line-height: 1rem;
    z-index: 100;
}

@media (max-width: $breakpoint-width-mobile) {
    .closeButton {
        transform: unset;
    }
    .innerContainer {
        margin-top: 0;
    }
}