body {
  color: #fdecec;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #4b1b63; }

body, html, #react-root {
  height: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */ }
  body *, html *, #react-root * {
    box-sizing: border-box; }

.stickyHeader {
  z-index: 1;
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap; }

.jiggenHeader {
  text-align: center;
  background: #450454;
  height: 2.4rem; }
  .jiggenHeader h1 {
    font-size: 1.5rem;
    margin: auto; }
  @media (min-width: 768px) {
    .jiggenHeader {
      height: 2.8rem; }
      .jiggenHeader h1 {
        font-size: 2rem; } }
