@import '../../index.scss';

.stickyHeader {
  z-index: 1;
  position: fixed;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
}

.jiggenHeader {
	text-align: center;
	background: $theme_b2;
	height: 2.4rem;

	h1 {
		font-size: 1.5rem;
		margin: auto;
	}

	@media (min-width:768px) {
		height: 2.8rem;
		h1 {
			font-size: 2rem;
		}
	}

}
