@import '../../vars';

.imageDisplayReel {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	width: 100%;
	
	list-style-type: none;
	padding: 0;
	margin: auto;


	img {
		max-width: 100%;
		max-height: 35vh;
	}
	a {
		display: grid;
		margin: 0 0.1rem 0.4rem;
		box-shadow: 1px 1px 9px $purple400;
		// box-shadow: 0px 1px 15px $black;
	}
}