
/*
    Theming
*/
$white: white;
$black: black;

$purple100: #300247;
$purple150: #410460;
$purple200: #520D75;
$purple250: #66198D;
$purple300: #763597;
$purple350: #842EAF;
$purple400: #9A50BF;
$purple500: #B676D6;
$purple600: #D5A9EB;
$purple700: #EDD6F9;

$blue100: #1574bf;
$blue200: #17ccea;

$grey100: #c7bd95;
$grey200: #c0c0c0;
$grey300: #c0c0c0;
$red100: #b74c4c;
$yellow100: #d4d400;
$yellow200: yellow;
$yellow300: #ffff71;

/*
    Layout breakpoints
*/
$breakpoint-width-tablet: 768px;
$breakpoint-width-mobile: 400px;

$breakpoint-height-mobile: 400px;