
/*
    Theming
*/
$white: white;
$black: black;

$purple100: #450454;
$purple200: #4b1b63;
$purple300: #7f0eb7;
$purple400: #9468ab;
$purple500: #bc7fbf;
$purple600: #cd8fcf;

$pink100: #f4c5ff;
$pink200: #fdecec;

$grey100: #c7bd95;
$grey200: #c0c0c0;
$red100: #b74c4c;
$yellow100: #d4d400;
$yellow200: yellow;

/*
    Layout breakpoints
*/
$breakpoint-width-tablet: 768px;
$breakpoint-width-mobile: 400px;
