@import '../../../../theming.scss';

.SelectionWidget {
	box-sizing: border-box;
	width: 100%;
	border: solid 2px $white;
	background: $purple300;
	display: flex;
	flex-flow: column nowrap;
	padding: 5px 0;

	.description {
		padding-bottom: 5px;
	}
}