@import '../../vars';

.mainContainer {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

h1, h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0.5rem 0 0.5rem;
  text-align: center;
}

.statsContainer {
  flex: 1;
  margin: 0.25rem;
}

.gameContainer {
  flex: 2;
	margin: 0 1rem 0.2rem;
}

.selectionContainer {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

@media (orientation: landscape) and (max-height: $breakpoint-height-mobile) {
	.contentContainer {
		flex-flow: row nowrap;
  }
  
  .selectionContainer {
    flex-flow: column nowrap;
    height: initial;
    order: 2;
  }

  .gameContainer {
    order: 1;
    flex: 1.5;
  }
}