body {
  color: #fdecec;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #4b1b63; }

body, html, #react-root {
  height: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */ }
  body *, html *, #react-root * {
    box-sizing: border-box; }

.messageBox {
  color: black;
  background: #f4c5ff;
  text-align: center;
  border: 1px solid #9c6ac3; }
