@import '../../../vars';

.puzzleStats {
	padding: 5px;
	display: flex;
	flex-flow: column nowrap;

	.compatibilitySection {
		display: flex;
		flex-flow: row wrap;
		.description {
			align-self: center;
		}

		.compatibilityMeasure {
			padding: 2px 5px;
			color: #202;
			border-radius: 40px;
		}
	}
}