@import '../../vars';

h1 {
	font-size: 2.5rem;
	margin: 0;
	padding: 0.5rem 0;
	text-align: center;
}

.mainContainer {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

.contentContainer {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	> * {
		flex: 1;
	}
}

.playIcon {
	display: flex;
	border: 1px solid black;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 24px;
	background: $purple400;
	padding: 0.5rem 0.75rem;
}

.backgroundContainer {
	max-width: 500px;
	margin: 0 1rem 0.5rem;
	img {
		width: 100%;
		height: auto;
	}
}

@media (orientation: landscape) and (max-height: $breakpoint-height-mobile) {
	.contentContainer {
		flex-flow: row nowrap;
	}
}