@import '../../vars';

h1 {
	font-size: 2.5rem;
	margin: 0;
	padding: 0.5rem 0;
	text-align: center;
}

.mainContainer {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

.contentContainer {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.playIcon {
	display: flex;
	border: 1px solid black;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 24px;
	background: $purple400;
	padding: 0.5rem 0.75rem;
    width: fit-content;
	
    margin: auto;
}

.loadingContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items:  center;
	margin: 1rem;
	min-height: 40vh;
	background: black;

	h1 {
		font-size: 1rem;
	}
}

.backgroundContainer {
	flex: 10;
	width: 100%;
    max-width: calc(20vw + 50vh);
	margin: 0 0.5rem;
	.backgroundImage {
		width: 100%;
		height: auto;
	}
}

.pieceCountContainer {
	flex: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.playButtonContainer {
	flex: 1;
	margin: 0 0.25rem;
}


@media (orientation: landscape) and (max-height: 900px) {
	.contentContainer {
		flex-flow: row wrap;
	}

	.backgroundContainer {
		flex: 3; // Now take up as much space as possible
	}
}