@import '../../../vars';

.mainContainer {
	border: solid 1px $white;
	border-radius: 10px;
	
	background-image: radial-gradient($purple400, $purple300);
	display: flex;
	flex-flow: column nowrap;
	padding: 0.5rem;
	height: 40vh;
}


@media (orientation: landscape) and (max-height: 520px) {
	.mainContainer {
		margin: 0.25rem 0.125rem 0 0.125rem;
		height: 75vh;
	}
}

.caption {
	font-size: 2.25rem;
	padding-bottom: 5px;
	text-align: center;
}
