@import '../../../vars';

.mainContainer {
	border: solid 1px $white;
	border-radius: 10px;
	
	background-image: radial-gradient($purple400, $purple300);
	display: flex;
	flex-flow: column nowrap;
	padding: 0.5rem;
	flex: 1;
}

.caption {
	font-size: 2.25rem;
	padding-bottom: 5px;
	text-align: center;
}
