@import '../../index.scss';

.TemplateChooser {
	width: 100%;
	border: solid 2px $theme_f0;
	background: $theme_b3;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;

	animation: pulse 1s ease-in 0s infinite alternate;

	&:hover {
		opacity: 1;
		animation: none;
	}

	/*&.selected {
		opacity: 1;
		animation: none;
		background: $theme_b5;
		&:hover {
			opacity: 1;
			background: $theme_b6;
		};
	}*/
}

.SelectTemplateMessage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	div {
		padding: 3px 0;
	}
}

@keyframes pulse {
  from {
  	opacity: 0.7;
  }

  to {
  	background-opacity: 1;
  }
}