body {
  color: #fdecec;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #4b1b63; }

body, html, #react-root {
  height: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */ }
  body *, html *, #react-root * {
    box-sizing: border-box; }

.OverviewScreen {
  text-align: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap; }
  .OverviewScreen h1, .OverviewScreen h2 {
    font-size: 2rem;
    margin: auto; }

.OverviewBody {
  display: flex;
  flex-flow: row wrap; }
  @media (orientation: portrait) {
    .OverviewBody {
      flex: 1 auto 50%; } }
  @media (orientation: landscape) {
    .OverviewBody {
      height: auto;
      flex: 1 1 auto; } }
  .OverviewBody > * {
    flex: 1 1 50%;
    display: inline-flex; }
