.OverviewScreen {
  text-align: center;
  
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-flow: column nowrap;

  h1, h2 {
    font-size: 2rem;
    margin: auto;
  }
}

.OverviewBody {
  @media (orientation: portrait) {
	 flex: 1 auto 50%;
  }

  @media (orientation: landscape) {
   height: auto;
   flex: 1 1 auto;
  }

	display: flex;
	flex-flow: row wrap;
}

.OverviewBody > * {
  //@media (orientation: portrait) {
  	flex: 1 1 50%;
  	display: inline-flex;
  //}
}